.board{
    width: 80%;
    margin: 0px auto;
    border: 1px solid black;
    margin-top: 2rem;
}

.searchContainer{
    border-left: 1px solid black;
    padding-top: 1rem;
}

.searchDiv{
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.detailsDiv, .display{
    margin-top: 1rem
}

input:focus{
    outline: none;
    border: none;
}

.pokePics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.error{
    color: red
}

.pokeHeading{
    background-color: rgb(117, 123, 129);
}