.board{
    width: 80%;
    margin: 0px auto;
    border: 1px solid black;
    margin-top: 2rem;
}

.searchContainer{
    border-left: 1px solid black;
    padding-top: 1rem;
}

.searchDiv{
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.detailsDiv, .display{
    margin-top: 1rem
}

input:focus{
    outline: none;
    border: none;
}

.pokePics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.error{
    color: red
}

.pokeHeading{
    background-color: rgb(117, 123, 129);
    color: white
}

.pokeImages{
  border: 1px solid rgb(133, 128, 128);
  background-color: rgb(235, 239, 243);
  padding-left: 2rem;
}

.pokeName, .trash{
    margin-left: 1rem;
    border: none;
    background-color: white;
}

.trash{
    color:red;
    position: absolute;
    margin-top: 0.5rem;
    margin-left: -0.5rem;
}

#logo{
    width: 30%;
    height: 10rem;
    margin-top: -3rem;
    margin-left: 12rem;
}
